spring:
    kafka:
        bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
        consumer:
            key_deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value_deserializer: org.apache.kafka.common.serialization.StringDeserializer
            group_id: my-group
            enable_auto_commit: false
            isolation_level: READ_COMMITTED
kafka_topic: my-topic
kafka_group_id: my-group
kafka_enabled: true
